h1{
	text-align: center;
	color: white;
	margin: 20px;
	padding: 20px;
	font-family: sans-serif;
}

h2{
	text-align: center;
	color: white;
	margin: 20px;
	padding: 20px;
font-family: sans-serif;

}

#quizim{
	text-align: center;
}

h3{
text-align: center;
	color: white;
	margin: 20px;
	padding: 20px;
	font-family: sans-serif;

}

h4{
	text-align: center;
	color: black;
	margin: 20px;
	padding: 20px;
	font-family: sans-serif;
}

button{
	text-align: center;
	color: black;
	margin: 20px;
	padding: 20px;
	font-family: sans-serif;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#wrapper{
	background-color: teal;
	text-align: center;
	padding: 20px;
}


#questions{
	text-align: center;
}

img{
	text-align: center;
}
input{
	color: green;
}

#finalscore{
	 background-color: black;
	color: white;
	font-family: sans-serif;

	

}






